@font-face {
    font-family: "FonteMapaMaroto";
    src: url("../../assets/fonts/AppleChancery.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/mapamaroto.jpg');
    background-size: cover;
    background-position: center;
    position: relative; 
}

.t1, .t2 {
    position: absolute;
    left: 0;
    padding-left: 20px;
    font-family: "FonteMapaMaroto";
    font-size: 15px;
}

.t1 {
    top: 10%;
    left: 5%;
    font-size: 25px;
}

.t2 {
    font-size: 20px;
    opacity: 0;
    top: 30%;
    animation: fadeIn 3s ease-in 4s forwards;
}

.mapa {
    position: absolute;
    left: 0;
    opacity: 0;
    margin-top: 200px;
    margin-left: -25px;
    animation: fadeIn 3s ease-in 4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}