  .pocoes {
    position: absolute;
    top: 27%;
    left: 33.2%;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

  .feiticos {
    position: absolute;
    top: 56%;
    left: 33.2%;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

  .quadribol {
    position: absolute;
    top: 27%;
    left: 60.5%;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

  .creditos {
    position: absolute;
    top: 56%;
    left: 60.5%;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

  .menu {
    margin-top: 20px;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
  }

  .menu ul li {
    display: inline;
    margin: 0 10px;
  }

  .menu ul li a {
    color: white;
    text-decoration: none;
  }

  .menu ul li a:hover {
    text-decoration: underline;
  }

  .menu li img {
    width: 68px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .menu li img:hover {
    transform: scale(1.2);
  }