
/* 
body {
  margin: 0px;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
  background: url(../../assets/images/hogwarts.avif) no-repeat;
  background-size: cover;
  background-position: center;
} */
.principal{
  margin: 0px;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
  background: url(../../assets/images/hogwarts.avif) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

code {
  font-family: sorce-code-pro, Menlo, Monaco, Consolas,
  'Courier New',
    monospace;
}
.wwlogo{
  display: flex;
  justify-content: center;
}

.model{
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .inputBox{
  position: relative;
  width: 370px;
  height: 100%;
  margin: 40px 0;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid rgba(255, 255, 255, .2);
  outline: none;
  border-radius: 16px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder {
  color: #fff;
}

.inputBox .icon{
position: absolute;
right: 2px;
top: 50%;
transform: translateY(-50%);
}
.checkbox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  
}

.wrapper .rememberForgot {
  display: flex;
  flex-direction: column;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.rememberForgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.rememberForgot a {
  color:#fff;
  text-decoration: none;
  padding-top: 20px;
  padding-left: 5px;
  margin-bottom: -5px;
}

.rememberForgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.wrapper .registerLink{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerLink p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.registerLink p a:hover {
  text-decoration: underline;
}
