.housePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .studentInfo {
    margin-top: 20px;
  }

  .studentInfo img {
    margin-top: 25%;
    margin-left: 330%;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    clip-path: inset(2%);
  }

  .studentText {
    position: absolute;
    bottom: 420px;
    left: 77.3%;
    transform: translateX(-50%);
    background-image: url('../assets/images/pergaminho.png');
    background-size: 100% 100%;
    padding: 10px;
    border-radius: 5px;
  }

  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centerImageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centerImage {
    max-width: 100%;
    height: auto;
  }