.principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/B1C5M3.jpg);
    background-size: cover;
    background-position: center;

}

.jornal {
    position: relative;
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    width: 78vw;
    height: 100vh;
}

.jornal video {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    box-shadow: 10px 10px 5px 20px rgba(0, 0, 0, 0.7);
}
