/* :root {
	--font: "EB Garamond", serif;
	--font-title: "Playfair Display", serif;
	--font-sans-serif: "Manrope", sans-serif;
	--black: #1c1f33;
	--black--acc: #222;
	--gray: #eee;
	--gray-1: #ededed;
}

body {
	font-size: 1.1rem;
	background: var(--preview-bg);
	font-family: var(--font);
	color: var(--black);
	background: url(https://img.freepik.com/free-photo/cardboard-sheet-paper-abstract-texture-background_7182-2105.jpg?size=626&ext=jpg)
		repeat;
	padding: 4rem 2rem;
	line-height: 1.3;
	text-align: justify;
	column-break-inside: avoid;
} */

.main__wrapper a {
	text-decoration: none;
	display: block;
	color: var(--black);
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: var(--black--acc);
	}
}

.main__wrapper {
	max-width: 1135px;
	margin: auto;

    --font: "EB Garamond", serif;
	--font-title: "Playfair Display", serif;
	--font-sans-serif: "Manrope", sans-serif;
	--black: #1c1f33;
	--black--acc: #222;
	--gray: #eee;
	--gray-1: #ededed;

    font-size: 1.1rem;
	background: var(--preview-bg);
	font-family: var(--font);
	color: var(--black);
	background: url(https://img.freepik.com/free-photo/cardboard-sheet-paper-abstract-texture-background_7182-2105.jpg?size=626&ext=jpg)
		repeat;
	padding: 4rem 2rem;
	line-height: 1.3;
	text-align: justify;
}

h1 {
	font: 50px/1 "Playfair Display SC";
	text-align: center;
	@media (min-width: 700px) {
		font: 70px/1 "Playfair Display SC";
	}
}

h3 {
	font: italic 20px var(--font-title);
	margin-bottom: 1rem;
}

h4 {
	font: 20px/1.2 var(--font-title);
}

h5 {
	font: 700 20px/1 var(--font);
	transition: 0.3s ease;
}

p {
	line-height: 1.3;
	a {
		display: inline;
	}
}

em {
	font-style: italic;
}

.titlelarge {
	font-family: var(--font-title);
	font-size: 32px;
	font-style: italic;
	text-align: left;
	margin-bottom: 0.8rem;
	@media (min-width: 700px) {
		font-size: 42px;
		margin: 0;
	}
}

main {
	@media (min-width: 700px) {
		display: grid;
		grid-template-columns: repeat(4, 1fr) 23%;
		grid-template-rows: repeat(5, auto);
		grid-gap: 1.2rem;
	}

	h1,
	aside {
		grid-column: 1 / -1;
	}
	.mainTitle {
		@media (min-width: 700px) {
			grid-column: 1 / -1;
		}
		@media (min-width: 1024px) {
			grid-column: 1 / -2;
		}
	}
	.terrarium {
		@media (min-width: 700px) {
			grid-column: 1 / -1;
		}
		@media (min-width: 1024px) {
			grid-column: 3 / span 2;
		}
	}
	.mainText {
		@media (min-width: 700px) {
			grid-column: span 5;
		}
		@media (min-width: 1024px) {
			grid-column: span 2;
		}
	}
	.sidebar {
		@media (min-width: 700px) {
			grid-column: 1 / -1;
		}
		@media (min-width: 1024px) {
			grid-row: 3 / 9;
			grid-column: 5 / 6;
		}
	}
	.social {
		grid-column: 1 / -2;
		grid-row: 8 / 9;
	}
	.article-bar-1 {
		grid-row: span 4;
	}
	.hogwarts {
		@media (min-width: 700px) {
			grid-row: span 3;
		}
		@media (min-width: 1024px) {
			grid-column: 3;
			grid-row: span 2;
		}
	}
	.menu {
		@media (min-width: 700px) {
			grid-column: 1 / -1;
			grid-row: 13;
		}
		@media (min-width: 1024px) {
			grid-row: 7 / 8;
			grid-column: 2 / 4;
		}
	}
	.toggles {
		@media (min-width: 700px) and (max-width: 1024px) {
			grid-column: 3 / 6;
			grid-row: 10 / 13;
		}
	}
	.plan {
		@media (min-width: 700px) and (max-width: 1024px) {
			grid-column: span 4;
		}
	}
	.style,
	.magazine,
	.pasta {
		@media (min-width: 700px) and (max-width: 1024px) {
			grid-column: 1 / 3;
		}
	}
	.cssgrid-collection {
		grid-column: 1 / -1;
		grid-row: 9;
	}
}

.span--2 {
	grid-column: span 2;
}

.long--2 {
	grid-row: span 2;
}

.long--4 {
	grid-row: span 4;
}

.with-border {
	border-top: 1px solid;
	padding-top: 0.6rem;
}

img {
	width: 100%;
	filter: grayscale(95%);
	margin-bottom: 0.5rem;
	border: 1px solid var(--black);
	transition: 0.3s ease;
}

figcaption {
	font-style: italic;
	font-size: 90%;
}

aside {
	text-align: center;
	padding: 3px 0;
	border: solid var(--black);
	border-width: 2px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 1.5rem 0;
	@media (min-width: 700px) {
		margin: 0;
	}
	> div {
		display: flex;
		align-items: center;
		border: solid var(--black);
		border-width: 1px 0;
		> div {
			flex: 1;
			padding: 8px;
		}
	}
}

@media (min-width: 700px) {
	.multi-column {
		column-count: 2;
		column-gap: 1.3rem;
		margin-top: 0.75rem;
		/* &-3 {
			column-count: 3;
		} */
	}
}
.sidebar {
	margin-top: 3rem;
	@media (min-width: 700px) and (max-width: 1024px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0;
		h3 {
			width: 100%;
			text-align: center;
		}
		> a {
			flex: 0 1 48%;
			margin: 1.5rem 0;
			padding: 0;
		}
		.slack-ui {
			border-top: 0;
		}
		.pie {
			order: 3;
		}
	}
	@media (min-width: 1024px) {
		display: block;
		border-left: 1px solid;
		padding-left: 1.2rem;
		margin: 0;
	}
}

.main-text.multi-column {
	margin: 0;
	p {
		margin-bottom: 0.8rem;
	}
}

.hogwarts {
	text-align: center;
	height: 100%;
	width: calc(100% - 4px);
	margin: 1.5rem auto;
	overflow: hidden;
	@media (min-width: 700px) {
		margin: 0;
	}
	&__title {
		font: 800 24px/1 var(--font-sans-serif);
		text-transform: uppercase;
		background: var(--black);
		color: var(--gray);
		padding: 0.8rem 0.8rem 0.9rem;
		transition: 0.2s ease;
		@media (min-width: 700px) and (max-width: 1024px) {
			font: 800 21px/1.2 var(--font-sans-serif);
			padding: 1.5rem 0.5rem;
		}
	}
	&__image {
		height: 100%;
		position: relative;

		img {
			transform: rotate(60deg);
			height: 150%;
			position: absolute;
			border: 0;
			width: 250%;
			left: -70%;
			bottom: -35%;
			@media (min-width: 700px) and (max-width: 1024px) {
				bottom: -20%;
			}
		}
		span {
			font-style: italic;
			max-width: 110px;
			position: absolute;
			top: 7%;
			left: 18%;
			font-size: 22px;
			line-height: 0.9;
			transform: rotate(-5deg);
		}
	}
}

.terrarium {
	margin: 1.5rem 0;
	@media (min-width: 700px) {
		margin: 0 0 1.5rem;
	}
	figure {
		height: 100%;
	}
	img {
		height: 96%;
		object-fit: cover;
		object-position: right;
	}
}

.pie {
	line-height: 0;
	color: var(--gray);
	text-align: left;
	&__image {
		margin: 0;
		border: 0;
		max-height: 15rem;
		object-fit: cover;
	}
	&__subtitle {
		background: #999;
		text-transform: uppercase;
		line-height: 1;
		padding: 0.4rem 1rem;
		font: 14px var(--font-sans-serif);
		color: var(--gray);
	}
	&__content {
		background: #666;
		padding: 1rem 1rem 1.2rem;
		color: var(--gray);
		p {
			margin-top: 0.5rem;
		}
	}
}

.sidebar-item {
	margin: 2rem 0;
	padding: 2rem 0 0;
	h5 {
		text-align: center;
		width: 100%;
padding: .5rem;
		margin: auto;
	}
	p {
		margin-top: 1rem;
	}
	&:hover {
		h5 {
			transition: 0.3s ease;
			background: var(--black);
			color: #fff;
		}
	}
}

.item-with-image {
	margin-top: 1.5rem;
	h4 {
		font-size: 24px;
		text-align: left;
		margin-bottom: 0.5rem;
		transition: 0.2s ease;
	}
	@media (min-width: 700px) {
		margin: 0;
	}
	&:not(.cssgrid-collection):hover {
		h4 {
			color: white !important;
			background: var(--black);
		}
	}
}

.magazine {
	border: 1px solid;
	border-width: 1px 0;
	padding-bottom: 1rem;
}

.menu {
	margin: 1.5rem 0;
	@media (min-width: 1024px) {
		margin: 0;
	}
	figure {
		height: 100%;
	}
	img {
		height: 90%;
		object-fit: cover;
		object-position: left;
	}
}

.cssgrid-collection {
	display: flex;
	align-content: stretch;
	border-top: 1px solid;
	padding-top: 1rem;
	h4 {
		margin: 0 0 0.8rem;
	}
	&__image {
		flex: 0 0 32%;
		margin-right: 1.5rem;
	}
	img {
		height: 100%;
		object-fit: cover;
		object-position: left;
	}
	p a {
		border-bottom: 1px dashed;
		&:hover {
			border-bottom: 1px solid;
		}
	}
}

.captcha {
	@media (min-width: 1024px) {
		margin-top: 0;
	}
}

.workout {
	width: calc(100% - 4px);
	margin: 3rem auto 0.2rem;
	&__image {
		padding: 2px;
		img {
			height: 16rem;
			object-fit: cover;
			object-position: left;
			border: none;
			@media (min-width: 1024px) {
				height: 25rem;
			}
		}
	}
	&__blurb {
		font: 22px/1.1 var(--font-sans-serif);
		text-align: center;
		padding: 0.5rem;
		color: var(--black);
		margin: -1rem 0.5rem 0.3rem;
	}
	&__title {
		font: 18px/1.1 var(--font-sans-serif);
		text-transform: uppercase;
		text-align: center;
		padding: 1rem;
		background: var(--black);
		color: var(--gray);
		transition: 0.2s ease;
	}
}

.social {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: max-content auto;
	color: var(--gray);
	text-align: left;
	&__image {
		margin: 0;
		border: 0;
		grid-row: span 2;
		height: 100%;
		object-fit: cover;
	}
	&__subtitle {
		background: #999;
		text-transform: uppercase;
		line-height: 1;
		padding: 0.4rem 1rem;
		color: var(--gray);
		font: 14px var(--font-sans-serif);
	}
	&__content {
		background: #666;
		padding: 1rem;
		color: var(--gray);
		grid-column: 2;
	}
}

.plan {
	padding-bottom: 1rem;
	@media (min-width: 700px) and (max-width: 1024px) {
		grid-column: span 3;
		margin: 0 0 1.5rem;
	}
	@media (min-width: 1024px) {
		border-bottom: 1px solid;
	}
}

.pie,
.social,
.menu,
.terrarium,
.plan,
.toggles,
.workout,
.cssgrid-collection__image {
	&:hover img {
		filter: grayscale(0);
	}
}

.workout {
	&:hover .workout__title {
		background: transparent;
		color: var(--black);
	}
}

.hogwarts {
	&:hover .hogwarts__title {
		background: transparent;
		color: var(--black);
	}
}
