.principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/B1C5M3.jpg);
    background-size: cover;
    background-position: center;
}

.jornal {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78vw;
    height: 100vh;
    box-shadow: 10px 10px 5px 20px rgba(0, 0, 0, 0.7);
}

.jornal video {
    z-index: 0;
    width: 100%; 
    height: auto; 
}

.iconesMiele {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 10px; 
    left: 10px; 
    gap: 100px; 
    z-index: 1; 
    margin-top: 400px;
    margin-left: 830px;
}
.iconesBoeck {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 10px; 
    left: 10px;
    gap: 10px; 
    z-index: 1; 
}

.iconesVictor {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 10px; 
    left: 10px; 
    gap: 10px; 
    z-index: 1; 
}

.iconesCassio {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 10px; 
    left: 10px; 
    gap: 10px; 
    z-index: 1; 
}

.iconesEnzo {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 10px; 
    left: 10px; 
    gap: 10px; 
    z-index: 1; 
}

.icone {
    width: 250px; 
    height: 250px;
}
