.housePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .studentInfo {
    margin-top: 400px;
    margin-right: 1600px;
  }

  .studentInfo img {

    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .studentText {
    position: absolute;
    bottom: 420px;
    left: 77.3%;
    transform: translateX(-50%); 
    background-image: url('../../assets/images/pergaminho.png');
    background-size: 100% 100%;
    padding: 100px;
    border-radius: 5px;
  }

  .centerImageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centerImage {
    max-width: 100%;
    height: auto;
  }