.housePage {
  width: auto;
}

.centerImageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerImage {
  margin-left: -22%;
  width: 140%;
  height: auto;
}

.studentImageContainer {
  display: flex;
  position: relative;
}

.studentImage {
  width: 17rem;
  height: auto;
  margin-top: 14.5%;
  margin-left: 1120px;
  transform: scale(100%,100%);
}

.studentImage:hover {
  transform: scale(1.05);
}

.chatBox {
  background-image: url('./src/assets/images/pergaminho.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10px;
  width: 400px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
  margin-left: -350px;
  opacity: 0;
  animation: fadeInAnimation 2.8s ease-in forwards;
}

.studentText {
  color: white;
  text-align: center;
}

.crestContainer {
  width: auto;
  margin-left: 5%;
  margin-top: -32%;
}

.crest {
  width: 265px;
  height: auto;
  position: absolute;
}

.crest:hover {
  transform: scale(1.05);
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}